.navbar-default{
  background-color:#f0c767;
}

.navbar-default .navbar-nav>li>a{
  color:cornflowerblue;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  background-color:lightblue;
}

.navbar-default .navbar-nav>.active>a{
  background-color:lightblue;
}